
:root {
    --primary-color: #1A3C8C;
    --secondary-color: #8C303C;
    --tertiary-color: #EBE973;
    --dark-gray: #656565;
    --light-grey: #E5E7EA;
  }

a{
    color: var(--primary-color);
    text-decoration: none;
}

.background-primary{
    background-color: var(--primary-color);
}

.background-secondary{
    background-color: var(--secondary-color);
}

.background-muted{
    background-color: var(--dark-gray)!important;
}

.button-primary{
    background-color: var(--primary-color)!important;
    color: white!important;
    filter: brightness(100%);
}

.button-primary:hover{
    filter: brightness(160%);
    transition: filter 0.5s;
}

.button-primary:not(:hover){
    filter: brightness(100%);
    transition: filter 0.5s; 
}

#site-nav{
    z-index: 100
}

#homepage-hero {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    min-height: max-content;
}

#hero-logo{
    width: 80%;
}

#homepage-hero h1{
    text-align: center;
    z-index: 1;
}

.effective-score{
    width: 30px;
    height: 30px;
}

.effective-score > span{
    width: 100%;
    height: 100%;
    text-align: center;
    align-content: center;
    border-radius: 5px;
}

#footer{
    height: 10vh;
    position: relative;
    bottom: 0;
    width: 100vw;
}

#sponsors-table{
    min-height: 60vh;
}

@media (max-width: 768px){
    #navbarNav a{
        border: none!important;
    }
}
