{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col">
        <table id="bills-table" class="table table-striped">
            <thead class="thead-light">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Identifier</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/bill_table.js') }}"></script> 
{% endblock %}