
<!doctype html>
<html lang="en">
    <head>
        {% block head %}
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        {% block styles %}
            <!-- Bootstrap CSS -->
            {{ bootstrap.load_css() }}
        {% endblock %}
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap5.css">
        <title>Project ILlegible</title>
        {% endblock %}
        <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.js"></script>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark p-2">
            <a class="navbar-brand fs-3 fw-bold" href="/">Project IL-legible</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto gap-2">
                    <li class="nav-item active">
                        <a class="btn btn-outline-info" href="/">Home</a>
                    </li>
                    <li class="nav-item active">
                        <a class="btn btn-outline-info" href="/sponsors">Sponsors</a>
                    </li>
                    <li class="nav-item active">
                        <a class="btn btn-outline-info" href="/bills">Bills</a>
                    </li>
                    <li class="nav-item active">
                        <a class="btn btn-outline-info" href="#">About</a>
                    </li>
                </ul>
            </div>
        </nav>

        <!-- Inherited content -->
        <div class="container-fluid mt-2">
            {% block content %}{% endblock %}
        </div>
        <footer class="footer">
            <div>
                <span class="text-muted">@2026 CAPP122 Project</span>
            </div>
        </footer>
        
        {% block scripts %}
            <!-- Optional JavaScript -->
            {{ bootstrap.load_js() }}
        {% endblock %}
   
    </body>
</html>